# Entorno virtual
venv/
.env
*.env

# Archivos de configuración y seguridad
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
.DS_Store
*.log

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos de migraciones de Django
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.log
**/migrations/*.sqlite3
**/migrations/*.tmp

# Archivos de configuración del editor
.vscode/
.idea/
*.code-workspace

# Archivos de compilación
build/
dist/
*.egg-info/

# Archivos de caché
*.cache
*.pkl
*.pickle
.cache/
.pytest_cache/

# Imágenes
static/imagenes/

