:root {
  /*  Colores */
  --color-principal: #2b72adc0;
  --color-secundario: #f8f9fa;
  --color-fondo: #f7f7f7;
  --color-texto: #212529;
  --color-hover: #8ab6e9;
  --color-boton: #343a40;
  --color-boton-hover: #2b72adc0;
  --gradiente-header: radial-gradient(circle, #2b72adc0 0%, #8aabd6 100%);

  /*  Tipografía */
  --fuente-principal: Arial, sans-serif;
  --fuente-secundaria: "Roboto Condensed", serif;

  /*  Espaciados */
  --espaciado-pequeno: 0.5rem;
  --espaciado-medio: 1rem;
  --espaciado-grande: 2rem;

  /*  Bordes */
  --radio-bordes: 1.25rem;
  --radio-bordes-banner: 1.25rem;

  /*  Tipografía */
  --fuente-grande: 2rem;
  --fuente-mediana: 1.1rem;
  --fuente-pequena: 1rem;
  --fuente-hover: 1.2rem;

  /*  Carrusel */
  --altura-banner: 22rem;
  --altura-banner-movil: 14rem;

  /*  Modales */
  --modal-ancho: 37.5rem;  
  --modal-padding: 1.25rem; 

  /*  Tamaños de fuente */
  --titulo-modal: 1.8rem;
  --texto-input: 1.2rem;

  /*  Mensajes de éxito */
  --alert-success-bg: #d4edda;
  --alert-success-text: #155724;
  --alert-success-border: #c3e6cb;

  /*  Mensajes de advertencia */
  --alert-warning-bg: #fff3cd;
  --alert-warning-text: #856404;
  --alert-warning-border: #ffeeba;

  /*  Mensajes de error */
  --alert-danger-bg: #f8d7da;
  --alert-danger-text: #721c24;
  --alert-danger-border: #f5c6cb;

  /*  Mensajes informativos */
  --alert-info-bg: #d1ecf1;
  --alert-info-text: #0c5460;
  --alert-info-border: #bee5eb;

  /*  Colores adicionales */
  --color-imagen-hover: rgba(0, 0, 0, 0.3); 
  --color-sombra-detalle: rgba(0, 0, 0, 0.1); 
  --color-sombra-hover-detalle: rgba(0, 0, 0, 0.15); 
  --color-fondo-detalle: var(--color-secundario); 

  /*  Bordes */
  --radio-borde-detalle: 0.625rem;
  --radio-borde-img: 0.5rem;

  /*  Tamaños */
  --altura-img-detalle: 180px;
  --espaciado-detalle: 0.625rem 0.9375rem; 

  /*  Sombras */
  --sombra-suave: 0 2px 5px var(--color-sombra-detalle);
  --sombra-hover: 0 4px 12px var(--color-sombra-hover-detalle);

  /*  Transiciones */
  --transicion-suave: transform 0.3s ease, box-shadow 0.3s ease;
}

/*  Estilo general */
body {
  font-family: var(--fuente-secundaria);
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-size: 1rem;
}

/* Fondo de leopardo con filtro */
main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/imagenes/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;

  opacity: 0.1;
  filter: brightness(0.85) contrast(1.5);
  z-index: -1;
}


/* El contenido del <main> debe estar por encima del fondo */
main {
  position: relative;
  z-index: 1;
}


.card {
  animation: slideIn 0.8s ease-in-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Texto degradado animado */
.animated-text {
  background: linear-gradient(90deg, #2b292a, #818034, #3e8f45, #4477a0, #7d54be);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 5s linear infinite;
}

/* Estado inicial (antes de aparecer) */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estado final (cuando aparece) */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Botones de Autenticación */
#loginBtn, .btn-outline-dark, .btn-dark, .nav-item {
  padding: 0.4rem 0.8rem; 
  font-size: 0.9rem;   
  border-radius: 1.25rem;  
  white-space: nowrap;   
  font-weight: bold;  
}

/* Estilo base para los enlaces del navbar */
.nav-link {
  color: var(--color-texto);
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: var(--espaciado-pequeno) var(--espaciado-medio);
  border-radius: var(--radio-bordes);
}

/* Estilo para el enlace activo */
.nav-link.active {
  background-color: var(--color-hover); 
  color: var(--color-secundario);        
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-12px); 
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover */
.nav-link:hover {
  background-color: var(--color-hover);
  color: var(--color-secundario);
  transform: translatey(-12px);  
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.alert {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(104, 104, 104, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.loader-container.show {
  visibility: visible;
  opacity: 1;
}

.loader {
  width: 50px;
  height: 50px;
  border: 6px solid var(--color-secundario);
  border-top: 6px solid var(--color-principal);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


/*  Transiciones suaves en campos de formulario */
.form-control,
.form-select {
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  box-shadow: none;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--color-principal);
  box-shadow: 0 0 10px rgba(43, 114, 173, 0.4);
  transform: scale(1.02);
}

/* Gradiente para encabezados */
.gradiente-header {
  background: var(--gradiente-header) !important;
  color: var(--color-fondo);
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Botón de Reserva mejorado */
.btn-reservar {
  background: var(--gradiente-header);
  color: var(--color-secundario);
  font-weight: bold;
  font-size: var(--fuente-mediana);
  padding: var(--espaciado-pequeno) var(--espaciado-grande);
  border-radius: 3.125rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  border: none;
}

.btn-reservar:hover {
  transform: scale(1.1);
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.3);
}

.btn-reservar:active {
  transform: scale(1);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
}

/* Botón del menú con efecto hover */
.navbar-toggler {
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--color-boton);
  border-radius: 50%;
  padding: 0.4rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* ✅ Añadido transform */
  z-index: 1050;
  margin-left: 0.75rem;
  margin-right: 0rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.navbar-toggler:hover {
  background-color: var(--color-hover);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  transform: scale(1.1); 
}

/* Estilo principal para el logo */
.navbar-brand img {
  width: 120px; 
  height: auto;     
  border-radius: 50%; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));    
}

/* Efecto al pasar el cursor */
.navbar-brand img:hover {
  transform: scale(1.1); 
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.3)); 
}

/* Efecto máquina de escribir mejorado */
.typing-effect  {
  display: inline-block;
  max-width: 220px;    
  overflow: hidden;          
  border-right: 0.15em solid var(--color-principal); 
  white-space: nowrap;       
  animation: typing 3s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
  text-align: center;        
}

/* Carrusel estilo banner */
.banner-carousel .carousel-item img {
  height: var(--altura-banner);
  object-fit: cover;
  border-bottom-left-radius: var(--radio-bordes-banner);
  border-bottom-right-radius: var(--radio-bordes-banner);
}

/* Slogan sobre las imágenes */
.banner-slogan {
  background-color: rgba(0, 0, 0, 0.4); 
  border-radius: var(--radio-bordes);
  padding: var(--espaciado-medio) var(--espaciado-grande);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);  
  animation: fadeInUp 1.2s ease-out;
}

.banner-slogan h2 {
  font-size: var(--fuente-grande);
  color: var(--color-secundario);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

.banner-slogan p {
  font-size: var(--fuente-mediana);
  color: var(--color-secundario);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

/* Botón de Reserva */
.btn-reservar {
  background: var(--gradiente-header);
  color: var(--color-secundario);
  font-weight: bold;
  font-size: var(--fuente-mediana);
  padding: var(--espaciado-pequeno) var(--espaciado-grande);
  border-radius: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-reservar:hover {
  transform: scale(1.1);
  box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.3);
}

/* Mejora de imagen en Mis Citas */
.custom-img {
  width: 100%;
  height: var(--altura-img-detalle);
  object-fit: cover;
  border-top-left-radius: var(--radio-borde-img);
  border-top-right-radius: var(--radio-borde-img);
  transition: var(--transicion-suave);
}

/* Efecto hover para la imagen */
.custom-img:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px var(--color-imagen-hover);
}

/* Estilo para los detalles de la cita */
.detail-box {
  background-color: var(--color-fondo-detalle);
  border-radius: var(--radio-borde-detalle);
  padding: var(--espaciado-detalle);
  margin-bottom: var(--espaciado-pequeno);
  box-shadow: var(--sombra-suave);
  transition: var(--transicion-suave);
}

/* Efecto hover para los detalles */
.detail-box:hover {
  transform: scale(1.02);
  box-shadow: var(--sombra-hover);
}


/* Footer */
footer {
  background-color: #212529;
  color: #f8f9fa;
  position: relative; 
  z-index: 1; 
}

footer a {
  color: #f8f9fa;
  text-decoration: none;
  pointer-events: auto; 
  transition: color 0.3s ease;
}

footer a:hover {
  text-decoration: underline; 
  color: var(--color-hover);
}

footer h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

footer .bi {
  transition: transform 0.3s ease;
}

footer .bi:hover {
  transform: scale(1.2);
}

footer hr {
  opacity: 0.2;
  border-color: var(--color-secundario);
}

/* Media view - small screens */

@media (max-width: 991px) {
  .nav-link.active {
    transform: translateX(25px);
  }

  .nav-link:hover {
    transform: translateX(25px);
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  #loginBtn, .btn-outline-dark, .btn-dark {
    padding: 0.3rem 0.6rem; 
    font-size: 0.75rem;     
    margin-right: 0.3rem;    
  }

  .navbar-brand img {
    width: 80px; 
  }

  .navbar-toggler {
    padding: 0.2rem;
    margin-left: 0.2rem;
  }

  .d-flex.align-items-center.gap-2 {
    gap: 0.3rem; 
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 48rem) {
  .navbar-toggler {
    margin-left: 0.313rem;
  }
}

/* Ajuste responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-brand img {
      width: 75px; 
  }
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .banner-carousel .carousel-item img {
    height: var(--altura-banner-movil);
  }

  .banner-slogan h2 {
    font-size: 1.5rem;
  }

  .banner-slogan p {
    font-size: var(--fuente-pequena);
  }
}


/* Animación de escritura */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* ANIMACIONES */

/* Animación del cursor (parpadea infinitamente) */
@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-principal);
  }
}

/* Animación de aparición del slogan */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animaciones texto */ 
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Animación de aparición */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  Animación de entrada para tarjetas */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/*  Animación para mensajes de alerta */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}